<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.funnytimesvendorapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".APISection.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FunnyTimesVendorApp">

        <activity
            android:name=".AddNewSection.NewClinicScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".AddNewSection.NewFoodScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".AddNewSection.NewProductScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJWj9nnNCz2a39Lju45WEnA-gh1pTWL-0" />

        <activity
            android:name=".AddNewSection.NewChaletScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".MainMenu"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SectionAuth.SectionDetails.ProviderDetailsScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SectionAuth.SectionDetails.ProviderLocationScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SectionAuth.SectionDetails.ProviderCategoryScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SectionAuth.SectionPassword.NewPasswordScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SectionAuth.SectionPassword.PasswordCodeConfirmScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SectionAuth.SectionPassword.PhonePasswordScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SectionAuth.CodeConfirmScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SectionAuth.PhoneConfirmScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SectionAuth.SignInScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SectionAuth.SignUpScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SectionOnBoard.OnBoardScreen"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>